<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crear tareas</title>
</head>

<body>
    <!-- VISTA 2: Tareas -->
    <div id="vistaTareas" class="vista oculto">

        <div class="vista-header">
            <h1>Tareas</h1>
            <button class="btn" id="btnIrUsuarios">Ir a Registro de Usuarios</button>
        </div>

        <div class="seccion-tareas">
            <form id="formTarea">
                <div>
                    <label for="docTarea">Documento del usuario</label>
                    <input type="text" name="docTarea" id="docTarea" placeholder="Ingrese documento del usuario">
                </div>
                <div>
                    <label for="tituloTarea">Titulo de la tarea</label>
                    <input type="text" name="tituloTarea" id="tituloTarea" placeholder="Ingrese el titulo">
                </div>
                <div>
                    <label for="descripcionTarea">Descripcion</label>
                    <input type="text" name="descripcionTarea" id="descripcionTarea"
                        placeholder="Ingrese la descripcion">
                </div>
                <div>
                    <button class="btn" id="btnCrearTarea">Crear Tarea</button>
                </div>
            </form>
            <div id="listaTareas" class="lista-tareas"></div>
        </div>

    </div>
</body>

</html>